.welcome {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-galho {
    width: 50%;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
}

.img-nome{
    width: 20%;
    bottom: 44%;
    right: 4%;
    position: absolute;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.welcome-top p {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
}

.welcome-title h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #9b71e6;
    text-align: center;
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    margin-top: 2rem;
}

.btn-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.btn-details img {
    width: 28%;
    position: absolute;
    bottom: 32%;
    left: 25%;
}

.btn-details button {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: #9b71e6;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    font-family: "Quicksand", serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 30px;
}

.welcome-content button:hover {
    background-color: #7f4fc9;
}

.img-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-footer img {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

@media screen and (max-height: 844px) {

    .img-nome {
        bottom: 43%;
        right: 10%;
    }


    .welcome-title h1 {
        font-size: 3rem;
    }

    .btn-details img {
        position: absolute;
        bottom: 28%;
        left: 25%;
    }

    .btn-details button {
        font-size: 1rem;
        margin-top: 2rem;
    }
}